html {
    min-height: 110vh;
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(
            45deg,
            #2a2a2a,
            #2a2a2a 20px,
            #b22222 20px,
            #b22222 40px,
            #556b2f 40px,
            #556b2f 60px
    ) no-repeat;
    background-size: cover;
}

body {
    margin: 0;

    height: 100%;

    color: white;
}


header h1 {
    font-size: 3em;
    color: orange;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin: 0;
    border-bottom: 3px solid orange;
}

h2 {
    text-align: center;
}


main {
    background-color: black;
    padding: 20px;
    color: white;
    border-radius: 10px;
    max-width: fit-content;
    max-height: 75%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

div.scroller {
    height: 50%;
    overflow: hidden;
    overflow-y: scroll;
}


th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: orange;
    text-align: center;
    position: sticky;
    top: 0;
}

td {
    background-color: #444;
}

tr:nth-child(even) td {
    background-color: #3a3a3a;
}


.footer-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    font-weight: bold;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.footer-button:hover {
    background-color: #ff8c00;
    border-color: #228B22;
    transform: scale(1.1);
}


footer {
    text-align: center;
    padding: 15px;
    /*margin-top: 20px;*/
    color: white;
    font-size: 0.9em;
    background-color: transparent;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav a {
    font-size: 1.5em;
    font-weight: bold;
    color: orange;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid orange;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

}

header nav a:hover {
    background-color: orange;
    color: black;
}

div.img_wrap {
    max-width: fit-content;
    max-height: 50%;
    display: flex;
    justify-content: center;
}

img {
    height: 70%;
    width: 70%;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    padding-top: 5px;
}
