{% extends "layout.html" %}

{% block title %}Add New Room{% endblock %}

{% block content %}
<h2>Add a New Room</h2>
<form action="/room" method="POST">
    <label for="room_name">Room Name: </label>
    <input type="text" id="room_name" name="room_name" required>
    <br>
    <label for="surface_area">Surface Area (in square feet): </label>
    <input type="text" id="surface_area" name="surface_area" required>
    <br>
    <label for="flooring_type">Flooring Type: </label>
    <select id="flooring_type" name="flooring_type" required>
        <option value="hardwood">Hardwood</option>
        <option value="tile">Tile</option>
    </select>
    <br>
    <label for="cost_per_foot">Cost per Square Foot: </label>
    <input type="text" id="cost_per_foot" name="cost_per_foot" required>
    <br>
    <div class="tile_click">
        <label for="tiling">Tiling? </label>
        <input type="checkbox" id="tiling" name="tiling">
    </div>
    <br>
    <h3>Tiling (if applicable)</h3>
    <br>
    <label for="tile_type">Tile Type: </label>
    <select id="tile_type" name="tile_type">
        <option value=None selected>None</option>
        <option value="ceramic">Ceramic</option>
        <option value="porcelain">Porcelain</option>
    </select>
    <br>
    <label for="tile_per_foot">Tile Cost per Square Foot: </label>
    <input type="text" id="tile_per_foot" name="tile_per_foot">
    <br>
    <label for="tile_area">Tiling Area: </label>
    <input type="text" id="tile_area" name="tile_area">
    <br>
    <button type="submit">Submit</button>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <p class="error">{{ message }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
</form>
{% endblock %}
